.header
  %h1.title
    = action_name == "completed" ? "完了済ToDo" : "ToDo（未完了）"
    - if defined?(@incomplete_count) && action_name != "completed"
      %span.pill 未完了 #{@incomplete_count}
    - if defined?(@completed_count) && action_name == "completed"
      %span.pill 完了 #{@completed_count}

  .toolbar
    - if action_name == "completed"
      = link_to "未完了", memos_path, class: "btn btn-ghost"
      = link_to "新規作成", new_memo_path, class: "btn btn-primary"
    - else
      = link_to "完了済", completed_memos_path, class: "btn"
      = link_to "新規作成", new_memo_path, class: "btn btn-primary"

.card
  %table.table
    %thead
      %tr
        %th 完了
        %th タイトル
        %th 期日
        %th
    %tbody#memos
      = render @memos

- if @memos.empty?
  %p.empty 表示するメモはありません。



